/* 가상 클래스 선택자 root의 색상들은 필수 사용요소가 아닙니다.
색상은 자유롭게 구성해주세요. */
:root {
  --main-color: #04c82f;
  --main-bg-color: #e5ffeb;
}
#header {
  background-color: #04c82f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* - (배점 0.5점) 브라우저 너비가 `540px` 보다 작을 때에는 1단으로 Todo 목록이 보여져야 합니다.
- (배점 0.5점) 브라우저 너비가 `540px` 보다 작을 때에는 헤더의 로고 이미지와 제목(Todo List)이 가로에서 세로 방향으로 배치가 변경됩니다.
- (배점 0.5점) 브라우저 너비가 `540px` 이상 `960px` 미만일 때에는 2단으로 Todo 목록이 보여져야 합니다.
- 브라우저 너비가 `960px` 이상일 때에는,
  - (배점 0.5점) 4단으로 Todo 목록이 보여져야 합니다.
  - (배점 0.5점) 헤더, 입력창, Todo 목록을 포함하는 요소의 최대 너비는 `800px` 입니다.
    > 힌트. `max-width` 속성 */

@media screen and (max-width: 540px) {
  .container {
    width: 100%;
  }
  .container1 {
    width: 100%;
  }
  .container2 {
    width: 100%;
  }
  .container3 {
    width: 100%;
  }
  #header {
  }
}

@media screen and (max-width: 960px) {
}

@media screen and (min-width: 960px) {
  body {
    width: 800px;
  }
}
